<h1>
  List of All Recipes
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a New Recipe
    </h2>
  </header>

  <p>
    Upload a photo of a recipe and we'll extract the ingredients and steps!
  </p>

  <%= link_to "Add a Recipe (upload image)", "/recipes/new", class: "button" %>
</article>

<hr>

<article>
  <% @list_of_recipes.each do |recipe| %>
    <div>
      <!-- Show image if attached -->
      <% if recipe.original_image.attached? %>
        <%= image_tag recipe.original_image %>
      <% end %>

      <h3><%= recipe.title %></h3>
      <%= link_to "View", "/recipes/#{recipe.id}" %>
    </div>
  <% end %>
</article>

<hr>
