<h1>
  List of all recipes
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new recipe
    </h2>
  </header>

  <form action="/insert_recipe" method="post">
    <div>
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title">
    </div>

    <div>
      <label for="author_id_box">
        Author
      </label>

      <input type="text" id="author_id_box" name="query_author_id">
    </div>

    <div>
      <label for="source_url_box">
        Source url
      </label>

      <input type="text" id="source_url_box" name="query_source_url">
    </div>

    <button type="submit">
      Add recipe
    </button>
  </form>
</article>

<hr>

<article>
  <% @list_of_recipes.each do |recipe| %>
    <div>
      <!-- Show image if attached -->
      <% if recipe.original_image.attached? %>
        <%= image_tag recipe.original_image %>
      <% end %>
      
      <h3><%= recipe.title %></h3>
      <%= link_to "View", "/recipes/#{recipe.id}" %>
    </div>
  <% end %>
</article>

<hr>
